/*

!src/
src/*
!src/common/
src/common/*
!src/common/config.c
!src/common/config.h
!src/common/defutils.h
!src/common/devinfo.h
!src/common/draw.c
!src/common/draw.h
!src/common/font.h
!src/common/ioutils.c
!src/common/ioutils.h
!src/common/optutils.c
!src/common/optutils.h
!src/common/raster.c
!src/common/raster.h

!src/libusb/
src/libusb/*
!src/libusb/main.c
!src/libusb/usb.c
!src/libusb/usb.h

!tests/
tests/*
!tests/images/

!Makefile
!LICENSE
!README.md
!.travis.yml
