/*

!src/
src/*
!src/main.c
!src/usb.c
!src/usb.h
!src/config/
src/config/*
!src/config/config.c
!src/config/config.h
!src/config/raster.c
!src/config/raster.h
!src/draw/
src/draw/*
!src/draw/draw.c
!src/draw/draw.h
!src/draw/font.h
!src/utils/
src/utils/*
!src/utils/defutils.h
!src/utils/ioutils.c
!src/utils/ioutils.h
!src/utils/optutils.c
!src/utils/optutils.h

!tests/
tests/*
!tests/images/
!tests/leds
tests/leds/*
!tests/leds/Makefile
!tests/leds/main.c
!tests/leds/tests.c
!tests/leds/tests.h

!Makefile
!LICENSE
!README.md
!.travis.yml
