/*

!src/
src/*
!src/common/
src/common/*
!src/common/config.c
!src/common/config.h
!src/common/raster.c
!src/common/raster.h
!src/kernel-module
src/kernel-module/*
!src/kernel-module/module/
src/kernel-module/module/*
!src/kernel-module/module/Makefile
!src/kernel-module/module/ventilo.c
!src/kernel-module/module/ventilo.h
!src/kernel-module/rules.d/
src/kernel-module/rules.d/*
!src/kernel-module/rules.d/99-ventilo.rules
!src/kernel-module/user-driver/
src/kernel-module/user-driver/*
!src/kernel-module/user-driver/Makefile
!src/kernel-module/user-driver/main.c
!src/libusb/
src/libusb/*
!src/libusb/Makefile
!src/libusb/usb.c
!src/libusb/usb.h
!src/libusb/main.c

!tests/*
tests/*
!tests/check-userdriver.sh
!tests/custom.config
!tests/images/
tests/images/*
!tests/images/image1.pbm
!tests/images/image2.pbm
!tests/images/image3.pbm
!tests/images/image4.pbm
!tests/images/image5.pbm
!tests/images/image6.pbm
!tests/images/image7.pbm
!tests/images/image8.pbm

!Makefile.libusb
!Makefile.module
!README.md
