ATTRS{idVendor}=="0c45", ATTRS{idProduct}=="7701", \
PROGRAM="/bin/sh -c 'echo -n $id:1.0 >/sys/bus/usb/drivers/usbhid/unbind; \
echo -n $id:1.0 > /sys/bus/usb/drivers/ventilo/bind'"
